
/*Home page*/
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.container {
  width: 100%;
  display: flex;
}
#tab-container {
  width: 100%;
  margin-top: 50px;
}
#settings-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.fret-button {
  padding: 10px;
  color: black;
  width: 35px;
  text-align: center;
  box-shadow: rgba(6, 24, 44, 0.2) 0px 0px 0px 2px, rgba(6, 24, 44, 0.25) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 2.5px;
  transition: all 75ms linear;
}
.fret-button:hover{
  opacity: 0.8;
}
.options {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9; /* Adjust the background color as needed */
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Optional shadow for a lifted effect */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensures it stays above other content */
}

.add_measure {
  box-shadow: rgba(50, 50, 93, 1) 0px 2px 5px -1px, rgba(0, 0, 0, 1) 0px 1px 3px -1px;
  color: var(--color-black);
  padding: 5px 15px ;
  font-weight: bold;
  transition: all 75ms linear;
}

.add_measure:hover{
  opacity: 0.85;
}


.fret-button-clicked {
  background-color: rgba(0, 0, 0, 0.10);
}


/* Default style for guitar strings */
.guitar-line {
  stroke: #000; /* Default color */
  transition: all 75ms linear;
}

/* Change color on hover */
.guitar-line:hover {
  stroke: rgba(0, 0, 0, 0.60);
  cursor: pointer;
}


/*.string-0 {
  stroke: #ff0000; 
}
.string-1 {
  stroke: #00ff00; 
}
*/



