
        /* Basic styling */
        #guitar-tab {
            margin-bottom: 20px;
            width: 100%;
            height: 150px;
            background-color: red;
        }
        button {
            padding: 10px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
