<head>
  <link rel="stylesheet" href="../css/main.css" />
  <script
    src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
    defer
  ></script>
  <script src="../js/TabGenerator.js"></script>
</head>

<main>

  <div class="current-state">
    <h1>current STATE </h1>
  </div>

  <div class="container">
    <div id="tab-container"></div>
  </div>

  <!--Edit Options-->
  <div class="options">
    <div id="settings-container"></div>
  <div>
  <div class="edit-options">
    <button>Load</button>
    <button>Save</button>
    <button>Remove</button>
  </div>

  <!--Playing Options-->
  <div class="metronome-options">

  </div>
</main>
<script>
  
  const tab = new TabGenerator("tab-container", "settings-container", {
    strings: 6,
    measures: 2,
    spaceBetweenStrings: 30,
    svgClass: "custom-tab-class", // Custom class for SVG elements
  });

</script>
