<head>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <script src="../js/TabGenerator.js"></script>
</head>

<main>
    <div class="container">
        <div id="tab-container"></div>
    </div>

    <div class="options">
        <div id="settings-container"></div>
        <button onclick="tab.addMeasure()">ADD</button>
    </div>

</main>
<script>
    const tab = new TabGenerator('tab-container', "settings-container",{
        strings: 6,
        measures: 0,
        spaceBetweenStrings: 30,
        svgClass: 'custom-tab-class' // Custom class for SVG elements

    });
</script>